:root {
    --narrow-width: calc(100vw - 320px);
    --general-margin: 50px 160px 60px 160px;
    --con-margin: 0px 160px 60px 160px;
    @media (max-width: 480px) {
        --narrow-width: 90vw;
        --general-margin: 50px 5vw 60px 5vw;
        --con-margin: 0px 5vw 60px 5vw;
    }
}

/* .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    scroll-behavior: smooth;
}

body {
    background-image: whitesmoke;
}

nav {
    width: var(--narrow-width);
    margin: var(--general-margin);
}

nav > ul {
    width: inherit;
    justify-content: space-between;
}

nav, ul, li, nav > ul > span {
    display: flex;
}

nav > ul > span {
    gap: 20px;
}

.nav-link {
    font-size: 35px;
    color: black;
    background-clip: text;
    transition: 0.2s ease all;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 80%) 0%,
    hsl(243deg 100% 79%) 8%,
    hsl(246deg 100% 78%) 17%,
    hsl(250deg 100% 77%) 25%,
    hsl(253deg 100% 77%) 33%,
    hsl(257deg 100% 76%) 42%,
    hsl(260deg 100% 74%) 50%,
    hsl(264deg 100% 73%) 58%,
    hsl(267deg 100% 72%) 67%,
    hsl(270deg 100% 71%) 75%,
    hsl(274deg 100% 69%) 83%,
    hsl(277deg 100% 68%) 92%,
    hsl(280deg 100% 66%) 100%
  );
}

.nav-link:hover {
    cursor: pointer;
    color: transparent;
}

.intro > p {
    width: 50vw;
}

.projects-preview-container, .intro, .contacts, .projects-container {
    width: var(--narrow-width);
    margin: var(--con-margin);
}

.information-container {
    width: var(--narrow-width);
    margin: var(--con-margin);
}

.small-text {
    font-size: 20px;
}

.regular-text {
    font-size: 25px;
}

.large-text {
    font-size: 30px;
}

.bold-text {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.gradient-text, .active {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 80%) 0%,
    hsl(243deg 100% 79%) 8%,
    hsl(246deg 100% 78%) 17%,
    hsl(250deg 100% 77%) 25%,
    hsl(253deg 100% 77%) 33%,
    hsl(257deg 100% 76%) 42%,
    hsl(260deg 100% 74%) 50%,
    hsl(264deg 100% 73%) 58%,
    hsl(267deg 100% 72%) 67%,
    hsl(270deg 100% 71%) 75%,
    hsl(274deg 100% 69%) 83%,
    hsl(277deg 100% 68%) 92%,
    hsl(280deg 100% 66%) 100%
  );
}

.email {
    margin-top: 20px;
}

.contact-list {
    display: flex;
    gap: 1em;
    margin-top: 10px;
}

.contact-icons {
    height: 2em;
}

.projects-preview-grid{
    height: 90vh;
    display: grid;
    gap: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "item-1 item-2 item-2"
    "item-3 item-2 item-2"
    "item-3 item-4 item-5";
    gap: 1em;
}

.grid-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.grid-item {
    transition: all 0.5s ease;
    border-radius: 5px;
    box-shadow: 0 5px 5px lightgray;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px lightgray;
}

.grid-item:nth-child(1) {
    height: 30vh;
}

.grid-item:nth-child(4), .grid-item:nth-child(5) {
    height: 30vh;
}

.project-item  {
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 5px 5px lightgray;
    transition: all 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px lightgray;
    scale: 105%;
}

.projects-container-row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.project-view-container {
    width: var(--narrow-width);
    margin: var(--general-margin);
    display: flex;
    flex-flow: column;
}

.main-view-project-image, .main-view-project-video {
    width: 50vw;
    align-self: center;
    margin: 0.6em 0 2em 0;
    box-shadow: 0 5px 5px lightgray;
    border-radius: 5px;
}

.main-view-project-image-large {
    width: 75vw;
    align-self: center;
    margin: 0.6em 0 2em 0;
    box-shadow: 0 5px 5px lightgray;
    border-radius: 5px;
}

.project-details-container {
    display: flex;
    flex-flow: column;
    gap: 1em;
    margin-bottom: 2em;
}

.body-list {
    display: block;
}

#nav-spacer {
    display: none;
}

.margin-top-m {
    margin-top: 0.5em;
}

.margin-top-l {
    margin-top: 1em;
}

.banner {
    display: block;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 5px lightgray;
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 80%) 0%,
        hsl(280deg 100% 66%) 100%
    );
    /* background: rgb(222, 222, 255);
    color: black;
    border: blue 1px solid; */
}

.banner > * {
    color: white;
}

.photo-card-container {
    display: flex;
    width: inherit;
    justify-content: space-around;
}

.photo-card-container > span {
    text-align: center;
}

.photo-card-container > span > img {
    max-height: 30em;
    border-radius: 10px;
    box-shadow: 0 5px 5px lightgray;
}

@media (max-width: 480px) {
    #nav-spacer {
        display: block;
        height: 1px;
        margin-bottom: 1.5em;
    }

    nav {
        width: 99vw;
        margin: 0;
        padding: 2em 0;
    }

    nav > ul > a {
        width: 100vw;
        justify-items: center;
    }

    nav > ul > span {
        position: fixed;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        width: 100vw;
        justify-content: space-around;
        padding: 1em;
        box-sizing: border-box;
        /* border-radius: 10px 10px 0 0; */
        border-top: 1px solid hsla(0, 0%, 0%, 10%);
    }

    .nav-link {
        font-size: 1.5em;
        font-weight: bold;
    }

    .intro > p {
        width: 100%;
        font-size: 1.5em;
        text-align: justify;
    }

    .projects-preview-grid {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .projects-preview-grid > * {
        min-width: 100%;
        max-height: 50vh;
    }

    .projects-container-row {
        justify-content: center;
        justify-items: center;
    }

    .project-item {
        max-width: 90vw;
        height: auto;
    }

    .main-view-project-image, .main-view-project-image-large, .main-view-project-video {
        width: 100%;
    }

    .project-view-container {
        margin-top: 0;
    }

    .photo-card-container {
        flex-flow: column;
    }

    .photo-card-container > span > img {
    max-height: 80vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px lightgray;
    }
}